# Node modules
node_modules/

# Environment files
.env
.env.*

# Logs
logs/
*.log
npm-debug.log*

# Compilaciones
dist/
build/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de configuración de IDE
.vscode/


